.leadingItems {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 23px;
  gap: 26px;
}

.link {
  text-decoration: none;
  color: #000;
}

.youtubeIcon {
  width: 84px;
  height: 24px;
}
