.signInButton {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #0352c9;
  border: 1px solid #0352c9;
  font-size: 0.8rem;
  text-align: center;
  padding: 8px 12px;
  background-color: #fff;
  text-decoration: none;
  width: 85px;
}

.signInIcon {
  color: #0352c9;
  font-size: 1.5rem;
  padding: 0px;
}
