.menu {
  /* align-self: flex-end; */
  /* background-color: #fff;
  
  border: 1px solid #e1e1e1;
  border-top: none;
  margin-top: -15px;
  margin-right: 150px;
  list-style: none;
  width: 310px;
  padding: 10px 0px 6px; */
  /* position: absolute; */
  top: 0;
  margin-top: 55px;
  right: 120px;
  position: absolute;
  z-index: 550;
  width: 310px;
  border: 1px solid #e1e1e1;
  border-top: none;
  background-color: #fff;
}
