@import "../../../../Shared/Styles/colors.module.css";

.link {
  display: inline-block !important;
  text-decoration: none;
  color: var(--accentColor);
  white-space: nowrap;
  font-size: 13px;
  font-weight: bold;
  line-height: 15px;
  margin-right: 8px;
}

.flex {
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 20px;
}
