@import "../../../Shared/Styles/colors.module.css";

.tabBar {
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow-y: scroll;
  width: 250px;
  height: 100vh;
  background-color: #fff;
  z-index: 150;
  position: relative;
}

.dividerContainer {
  margin-right: 20px;
}

.header {
  display: flex;
  align-items: center;
  padding: 13px 20px;
  gap: 40px;
}

.youtubeIcon {
  width: 90px;
  height: 28px;
}
